.menu {
  /* padding: 1.5rem 0; */
  /* margin: 1.5rem 0; */
  background-color: rgba(231, 203, 134, 0.5);
}

.menu .section-wrapper {
  display: grid;
  justify-content: center;
  /* grid-row-gap: 1.5rem; */
  grid-column-gap: 3rem;
  margin: 1.5rem 1.5rem 0 1.5rem;
  /* margin: 1.5rem; */
  grid-template-columns: repeat(3, 22rem);
}
@media (max-width: 840px) {
  .menu .section-wrapper {
    grid-template-columns: repeat(2, 22rem);
  }
}
@media (max-width: 689px) {
  .menu .foodcards-item {
    /* width: 22rem; */
    margin-bottom: 1.5rem;
  }
  .menu .section-wrapper {
    grid-column-gap: 1.5rem;
    /* margin: 1.5rem 1.5rem 0 1.5rem; */
    grid-template-columns: repeat(3, 17rem);
  }
}
@media (max-width: 560px) {
  .menu .section-wrapper {
    grid-template-columns: repeat(2, 17rem);
  }
}
