.menu {
  padding: 2rem 0;
  background-color: rgba(231, 203, 134, 0.5);
}
.menu .section-wrapper {
  display: grid;
  justify-content: center;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  margin: 0 1.5rem 1.5rem 1.5rem;
  grid-template-columns: repeat(2, 170px);
}
