.main-page {
  min-height: calc(100vh - 33.4rem);
  background-color: #eaeaea;
}
.main-page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 5rem; */
}
.main-page__wrapper h1 {
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 2.2rem;
  /* margin-left: 5rem; */
}

.main-page__wrapper p {
  text-indent: 3rem;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 1.8rem;
  margin: 0 2rem;
}
.main-page__p {
  margin-top: 2rem;
}
.main-page__p p::first-letter {
  font-weight: 900;
  font-family: 'Montserrat-Medium', sans-serif;
  /* font-family: 'GothicRus', sans-serif;
  font-size: 2.4rem; */
}
.main-page__web {
  height: 30px;
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 1.7rem;
  margin: 2rem 2rem 0 2rem;
  display: flex;
  align-items: center;
}
.main-page__img {
  display: inline-block;
  margin-left: 1.5rem;
}
.main-page__img img {
  height: 20px;
  transition: 0.4s;
}

@media (hover: hover) {
  .main-page__img img:hover {
    height: 25px;
  }
}
