.cart-item {
  border-radius: 2rem;
  background-color: #ffffff;
  box-shadow: 0rem 1rem 2rem 0.2rem #00000040;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.cart-item__img {
  display: inline-block;
  height: 10rem;
  width: 10rem;
  background-color: #000000;
  border-radius: 2rem;
  align-self: baseline;
  margin-right: 1.5rem;
}
.cart-item__img img {
  height: 100%;
  border-radius: 2rem;
}
.cart-item__description {
  display: inline-block;
  vertical-align: top;
  max-width: 20rem;
}
.cart-item__description div {
  display: inline;
  font-family: 'GothicRus', sans-serif;
  font-size: 2.4rem;
  line-height: 100%;
}
.cart-item__description span {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 1.8rem;
  line-height: 100%;
}
.cart-item__description span::before {
  content: ' | ';
  /* font-family: 'Montserrat-Light', sans-serif; */
}
.cart-item__description p {
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 1.5rem;
  line-height: 100%;
  margin: 0;
  align-self: baseline;
}
.cart-item__minus,
.cart-item__plus {
  width: 4.5rem;
  height: 4.5rem;
  border: none;
  background-color: #f2f1ed;
  border-radius: 1.2rem;
  text-align: center;
}
.cart-item__minus {
  float: left;
}
.cart-item__plus {
  float: right;
}
.cart-item__amount {
  display: inline-block;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 1.8rem;
  transform: translateY(35%);
}
.cart-item__wrapper-buttons {
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid red; */
  width: auto;
}
.cart-item__buttons {
  /* border: 2px solid blue; */
  display: inline-block;
  width: 13rem;
  text-align: center;
}
.cart-item__buttons img {
  pointer-events: none;
  /* width: 1rem; */
}
.cart-item__delete-button {
  position: absolute;
  height: 2rem;
  width: 2rem;
  padding: 0;
  top: 0.6rem;
  right: 0.6rem;
  border: none;
  background-color: transparent;
  border-radius: 0.5rem;
  text-align: center;
}
.cart-item__delete-button img {
  height: 1.4rem;
}
@media (max-width: 504px) {
  .cart-item__description {
    max-width: 60%;
  }
  .cart-item__wrapper-buttons {
    width: 100%;
    margin-top: 1rem;
  }
}
@media (max-width: 347px) {
  .cart-item {
    flex-direction: column;
    align-items: center;
  }
  .cart-item__wrapper-buttons {
    justify-content: center;
  }
  .cart-item__img {
    /* margin-left: 1.5rem; */
    margin: 0 1.5rem 1rem 1.5rem;
    align-self: auto;
  }
  .cart-item__description {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 10px) {
  .cart-item {
    padding: 1rem;
  }
  .cart-item__img {
    height: 8rem;
  }
  .cart-item__description {
    max-width: 16rem;
    margin-left: 0.5rem;
  }
  .cart-item__description div {
    font-size: 2rem;
  }
  .cart-item__description span {
    font-size: 1.6rem;
  }
  .cart-item__description p {
    font-size: 1.2rem;
  }
  .cart-item__buttons {
    width: 8rem;
    text-align: center;
  }
  .cart-item__minus,
  .cart-item__plus {
    /* width: 1.5rem; */
    /* height: 1.5rem; */
    /* border-radius: none; */
    border-radius: 0rem;
    background-color: transparent;
  }
  .cart-item__amount {
    font-size: 1.4rem;
    transform: translateY(25%);
  }
  .cart-item__buttons img {
    width: 2rem;
  }
}
